<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <footer class="index__footer">
        <div class="index__footer__box--img">
            <img src="/img/footer/footer_whatshap.svg" alt="telefono">
            <img src="/img/footer/footer_instagram.svg" alt="instagram">
            <img src="/img/footer/footer_facebook.svg" alt="facebook">
            <img src="/img/footer/footer_twitter.svg" alt="twitter">
        </div>
        <nav class="index__footer__nav--menu">
            <ul>
                <li><a href=""></a>Términos y Condiciones</li>
                <li><a href=""></a>Politica de Reembolso</li>
                <li><a href=""></a>Politica de Privacidad</li>
            </ul>
        </nav>
        <h6>Ayuda y Soporte</h6>
    </footer>
</body>
</html>