<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POC</title>
    <script src="https://kit.fontawesome.com/42701418d7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
    <header>
        <div>
            <div>
                <i class="fa-solid fa-bars"></i>
                <p>busqueda por categoria</p>
            </div>

            <div>
                <img src="/img/header/logo.png" width="100px" alt="">
            </div>
            <div>
                <nav>
                    <ul>
                        <li><a href=""><i class="fa-solid fa-user"></i><p>ingresar</p></a></li>
                        <li><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
                        <li><a href=""><i class="fa-solid fa-cart-shopping"></i><p>mi carrito</p></a></li>
                    </ul>
                </nav>
            </div>
            <div>
                <i class="fa-solid fa-toggle-on"></i>
            </div>
        </div>
        
    </header>
    
</body>
</html>