<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/53932b54f0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/logo.svg" type="image/x-icon">
</head>

<body class="index">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <main class="index--main">
        <div class="index--carousel">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/index/onePiece.png" class="d-block w-100" alt="img">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/index/rpgMakerMv.png" class="d-block w-100" alt="img">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/index/theDivision2.png" class="d-block w-100" alt="img">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="index__main--caruselExtend">
            <p class="index__main__caruselExtend--titulo">titulo de juego</p>
            <div class="index__main--caruselExtend2">
                <span class="index__main__caruselExtend--precio"><i
                        class="fa-solid fa-hand-holding-dollar"></i>precio</span>
                <button class="index__main__caruselExtend--comprar"><i
                        class="fa-solid fa-cart-shopping"></i>comprar</button>
            </div>
        </div>
        <div class="index__main--chatBot"><i class="fa-solid fa-headset"></i></div>
        <h3 class="index__main--ofertasDestacadas">ofertas destacadas</h3>
        <div class="index__main__visita1">
            <article class="index__main__articleHeader">
                <img src="/img/index/onePiece.png" alt="">
                <div class="index__main__section--articleBody">
                    <button class="index_main_visita--descuento">40% OFF </button>
                    <span class="index__main__visita--precio"><i class="fa-solid fa-hand-holding-dollar"></i>6.770
                    </span>
                </div>
                <div class="index__main__section--articleFooter">
                    <button class="index__main__section__articleFooter--comprar"><i
                            class="fa-solid fa-cart-shopping"></i>comprar</button>
                    <button class="index__main__section__articleFooter--corazon"><i
                            class="fa-regular fa-heart"></i>añadir
                        a lista de deseados</button>
                </div>
            </article>
            <article class="index__main__articleHeader">
                <img src="/img/index/onePiece.png" alt="">
                <div class="index__main__section--articleBody">
                    <button class="index_main_visita--descuento">40% OFF </button>
                    <span class="index__main__visita--precio"><i class="fa-solid fa-hand-holding-dollar"></i>6.770
                    </span>
                </div>
                <div class="index__main__section--articleFooter">
                    <button class="index__main__section__articleFooter--comprar"><i
                            class="fa-solid fa-cart-shopping"></i>comprar</button>
                    <button class="index__main__section__articleFooter--corazon"><i
                            class="fa-regular fa-heart"></i>añadir
                        a lista de deseados</button>
                </div>
            </article>
        </div>
        <h3 class="index__main--nuevosLanzamientos">nuevos lanzamientos destacados</h3>
        <div class="index__main__visita3">
            <article class="index__main__articleHeader">
                <img src="/img/index/onePiece.png" alt="">
                <div class="index__main__section--articleBody">
                    <button class="index_main_visita--descuento">40% OFF </button>
                    <span class="index__main__visita--precio"><i class="fa-solid fa-hand-holding-dollar"></i>6.770
                    </span>
                </div>
                <div class="index__main__section--articleFooter">
                    <button class="index__main__section__articleFooter--comprar"><i
                            class="fa-solid fa-cart-shopping"></i>comprar</button>
                    <button class="index__main__section__articleFooter--corazon"><i
                            class="fa-regular fa-heart"></i>añadir
                        a lista de deseados</button>
                </div>
            </article>
            <article class="index__main__articleHeader">
                <img src="/img/index/onePiece.png" alt="">
                <div class="index__main__section--articleBody">
                    <button class="index_main_visita--descuento">40% OFF </button>
                    <span class="index__main__visita--precio"><i class="fa-solid fa-hand-holding-dollar"></i>6.770
                    </span>
                </div>
                <div class="index__main__section--articleFooter">
                    <button class="index__main__section__articleFooter--comprar"><i
                            class="fa-solid fa-cart-shopping"></i>comprar</button>
                    <button class="index__main__section__articleFooter--corazon"><i
                            class="fa-regular fa-heart"></i>añadir
                        a lista de deseados</button>
                </div>
            </article>
        </div>
        <h3 class="index__main--proximamente">proximamente</h3>
        <div class="index__main__visita3">
            <article class="index__main__articleHeader">
                <img src="/img/index/onePiece.png" alt="">
                <div class="index__main__section--articleBody">
                    <button class="index_main_visita--descuento">40% OFF </button>
                    <span class="index__main__visita--precio"><i class="fa-solid fa-hand-holding-dollar"></i>6.770
                    </span>
                </div>
                <div class="index__main__section--articleFooter">
                    <button class="index__main__section__articleFooter--comprar"><i
                            class="fa-solid fa-cart-shopping"></i>comprar</button>
                    <button class="index__main__section__articleFooter--corazon"><i
                            class="fa-regular fa-heart"></i>añadir
                        a lista de deseados</button>
                </div>
            </article>
            <article class="index__main__articleHeader">
                <img src="/img/index/onePiece.png" alt="">
                <div class="index__main__section--articleBody">
                    <button class="index_main_visita--descuento">40% OFF </button>
                    <span class="index__main__visita--precio"><i class="fa-solid fa-hand-holding-dollar"></i>6.770
                    </span>
                </div>
                <div class="index__main__section--articleFooter">
                    <button class="index__main__section__articleFooter--comprar"><i
                            class="fa-solid fa-cart-shopping"></i>comprar</button>
                    <button class="index__main__section__articleFooter--corazon"><i
                            class="fa-regular fa-heart"></i>añadir
                        a lista de deseados</button>
                </div>
            </article>
        </div>
        <h3 class="index__main--rebajas">rebajas</h3>
        <div class="index__main__visita3">
            <article class="index__main__articleHeader">
                <img src="/img/index/onePiece.png" alt="">
                <div class="index__main__section--articleBody">
                    <button class="index_main_visita--descuento">40% OFF </button>
                    <span class="index__main__visita--precio"><i class="fa-solid fa-hand-holding-dollar"></i>6.770
                    </span>
                </div>
                <div class="index__main__section--articleFooter">
                    <button class="index__main__section__articleFooter--comprar"><i
                            class="fa-solid fa-cart-shopping"></i>comprar</button>
                    <button class="index__main__section__articleFooter--corazon"><i
                            class="fa-regular fa-heart"></i>añadir
                        a lista de deseados</button>
                </div>
            </article>
            <article class="index__main__articleHeader">
                <img src="/img/index/onePiece.png" alt="">
                <div class="index__main__section--articleBody">
                    <button class="index_main_visita--descuento">40% OFF </button>
                    <span class="index__main__visita--precio"><i class="fa-solid fa-hand-holding-dollar"></i>6.770
                    </span>
                </div>
                <div class="index__main__section--articleFooter">
                    <button class="index__main__section__articleFooter--comprar"><i
                            class="fa-solid fa-cart-shopping"></i>comprar</button>
                    <button class="index__main__section__articleFooter--corazon"><i
                            class="fa-regular fa-heart"></i>añadir
                        a lista de deseados</button>
                </div>
            </article>
        </div>
        <h3 class="index__main--losMasVendidos">los mas vendidos</h3>
        <div class="index__main__losMasVendidos">
            <div class="index__main__ofertas2">
                <article class="index__main__article">
                    <div class="index__main__section--article">
                        <img class="index__main__article--img" src="/img/index/onePiece.png" alt="">
                        <span class="index__main__article--nombreProducto">nombre producto</span>
                        <button class="index__main__article--comprar">comprar <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                        <span class="index__main__article--precio"><i
                                class="fa-solid fa-hand-holding-dollar"></i>precio</span>
                        <button class="index__main__article--descuento">descuento</button>
                    </div>
                </article>
            </div>
            <div class="index__main__ofertas2">
                <article class="index__main__article">
                    <div class="index__main__section--article">
                        <img class="index__main__article--img" src="/img/index/onePiece.png" alt="">
                        <span class="index__main__article--nombreProducto">nombre producto</span>
                        <button class="index__main__article--comprar">comprar <i
                                class="fa-solid fa-cart-shopping"></i></i>
                        </button>
                        <span class="index__main__article--precio"><i
                                class="fa-solid fa-hand-holding-dollar"></i>precio</span>
                        <button class="index__main__article--descuento">descuento</button>
                    </div>
                </article>
            </div>
            <div class="index__main__ofertas2">
                <article class="index__main__article">
                    <div class="index__main__section--article">
                        <img class="index__main__article--img" src="/img/index/onePiece.png" alt="">
                        <span class="index__main__article--nombreProducto">nombre producto</span>
                        <button class="index__main__article--comprar">comprar <i
                                class="fa-solid fa-cart-shopping"></i></i>
                        </button>
                        <span class="index__main__article--precio"><i
                                class="fa-solid fa-hand-holding-dollar"></i>precio</span>
                        <button class="index__main__article--descuento">descuento</button>
                    </div>
                </article>
            </div>
        </div>
        <div class="index__main__visita2">
            <article class="index__main__articleHeader">
                <img src="/img/index/onePiece.png" alt="">
                <div class="index__main__section--articleBody">
                    <button class="index_main_visita--descuento">40% OFF </button>
                    <span class="index__main__visita--precio"><i class="fa-solid fa-hand-holding-dollar"></i>6.770
                    </span>
                </div>
                <div class="index__main__section--articleFooter">
                    <button class="index__main__section__articleFooter--comprar"><i
                            class="fa-solid fa-cart-shopping"></i>comprar</button>
                    <button class="index__main__section__articleFooter--corazon"><i
                            class="fa-regular fa-heart"></i>añadir
                        a lista de deseados</button>
                </div>
            </article>
            <article class="index__main__articleHeader">
                <img src="/img/index/onePiece.png" alt="">
                <div class="index__main__section--articleBody">
                    <button class="index_main_visita--descuento">40% OFF </button>
                    <span class="index__main__visita--precio"><i class="fa-solid fa-hand-holding-dollar"></i>6.770
                    </span>
                </div>
                <div class="index__main__section--articleFooter">
                    <button class="index__main__section__articleFooter--comprar"><i
                            class="fa-solid fa-cart-shopping"></i>comprar</button>
                    <button class="index__main__section__articleFooter--corazon"><i
                            class="fa-regular fa-heart"></i>añadir
                        a lista de deseados</button>
                </div>
            </article>
        </div>
        <h3 class="index__main--losMasDeseados">los más deseados</h3>
        <div class="index__main__visita2">
            <article class="index__main__articleHeader">
                <img src="/img/index/onePiece.png" alt="">
                <div class="index__main__section--articleBody">
                    <button class="index_main_visita--descuento">40% OFF </button>
                    <span class="index__main__visita--precio"><i class="fa-solid fa-hand-holding-dollar"></i>6.770
                    </span>
                </div>
                <div class="index__main__section--articleFooter">
                    <button class="index__main__section__articleFooter--comprar"><i
                            class="fa-solid fa-cart-shopping"></i>comprar</button>
                    <button class="index__main__section__articleFooter--corazon"><i
                            class="fa-regular fa-heart"></i>añadir
                        a lista de deseados</button>
                </div>
            </article>
            <article class="index__main__articleHeader">
                <img src="/img/index/onePiece.png" alt="">
                <div class="index__main__section--articleBody">
                    <button class="index_main_visita--descuento">40% OFF </button>
                    <span class="index__main__visita--precio"><i class="fa-solid fa-hand-holding-dollar"></i>6.770
                    </span>
                </div>
                <div class="index__main__section--articleFooter">
                    <button class="index__main__section__articleFooter--comprar"><i
                            class="fa-solid fa-cart-shopping"></i>comprar</button>
                    <button class="index__main__section__articleFooter--corazon"><i
                            class="fa-regular fa-heart"></i>añadir
                        a lista de deseados</button>
                </div>
            </article>
        </div>
    </main>
    <footer class="index__footer">
        <div class="index__footer__box--iconos">
            <div><a href=""><i class="fa-brands fa-whatsapp"></i></a></div>
            <div><a href=""><i class="fa-brands fa-instagram"></i></a></div>
            <div><a href=""><i class="fa-brands fa-facebook-f"></i></a></div>
            <div><a href=""><i class="fa-brands fa-twitter"></i></a></div>
        </div>
        <nav class="index__footer__nav--menu">
            <ul>
                <li><a href="">Términos y Condiciones</a></li>
                <li><a href="">Politica de Reembolso</a></li>
                <li><a href="">Politica de Privacidad</a></li>
            </ul>
        </nav>
        <h6><a href="">Ayuda y Soporte</a></h6>
    </footer>
    <script src="/js/index.js"></script>
</body>

</html>