<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <!-- Hoja personalizada -->
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/42701418d7.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="home__header">
        <div class="home__header--box">
            <div class="home__header__box--burguer">
                <a onclick="document.querySelector('.home__header__box__categorias--nav').classList.toggle('showMenu')"><i class="fas fa-bars"></i></a>
            </div>

            <div class="home__header__box--logo">
                <a href="/"><img src="/img/header/logo.png"  alt=""></a>
            </div>
            
            <div class="home__header__box--login">
                <nav>
                    <ul>
                        <li><a href="/login"><i class="fa-solid fa-user"></i><p>ingresar</p></a></li>                       
                        <li  id="carri"><i id="numberCart" class="fa-solid fa-4"></i><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i><p>mi carrito</p></a></li>
                        <li><i class="fa-solid fa-toggle-on" ></i><p id="darkMode">modo oscuro</p></li>
                    </ul>
                </nav>
            </div>
            
                <div class="home_header_box--barra">           
                    <form class="home_header_box--form" action="#" method="post" target="_blank">
                        <input class="home_header_box--form--input" type="search" placeholder="Buscar productos, marcas" >
                        <div class="home_header_box--btn">   
                           <a href=""> <i class="fa-solid fa-magnifying-glass"></i> </a> 
                        </div>
                    </form>     
                </div>
                <nav class="home__header__box__categorias--nav">      
                    <ul>
                        <li><a href="/">secciones</a></li>
                        <li><a href="/">juegos de mesa</a></li>
                        <li><a href="/">contacto</a></li>
                        <li><a href="/">videojuegos</a></li>
                        <li><a href="/">nosotros</a></li>
                    </ul>
                </nav>
        </div>  
    </header>
    <main class="index">
        <!-- CARROUSEL -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/img/carrousel/carrousel_1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/img/carrousel/carrousel_2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/img/carrousel/carrousel_3.jpg" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="index__main--chat">
            <a href=""><i class="fa-solid fa-comments"></i></a>
        </div>
        <div class="index__main--products">
            <h1 class="index__main--titulo1">Destacados</h1>
            <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                <img src="/img/index/productos/index_products_1.jpg" alt="">
                <div class="index__main--article-info">
                    <p>30% OFF</p>
                    <h4>$1500</h4>
                </div>
                <div class="index__main--article-comprar"><a href="/productCart"><button type="button"><i
                                class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                </div>
                <div class="index__main--article-verMas"><a href="/productDetail"><button>
                            VER MÁS</button></a></div>
            </article>
            <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                <img src="/img/index/productos/index_products_2.jpg" alt="">
                <div class="index__main--article-info">
                    <p>30% OFF</p>
                    <h4>$1500</h4>
                </div>
                <div class="index__main--article-comprar"><a href="/productCart"><button type="button"><i
                                class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                </div>
                <div class="index__main--article-verMas"><a href="/productDetail"><button>
                            VER MÁS</button></a></div>
            </article>
            <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                <img src="/img/index/productos/index_products_3.jpg" alt="">
                <div class="index__main--article-info">
                    <p>30% OFF</p>
                    <h4>$1500</h4>
                </div>
                <div class="index__main--article-comprar"><a href="/productCart"><button type="button"><i
                                class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                </div>
                <div class="index__main--article-verMas"><a href="/productDetail"><button>
                            VER MÁS</button></a></div>
            </article>
            <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                <img src="/img/index/productos/index_products_4.jpg" alt="">
                <div class="index__main--article-info">
                    <p>30% OFF</p>
                    <h4>$1500</h4>
                </div>
                <div class="index__main--article-comprar"><a href="/productCart"><button type="button"><i
                                class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                </div>
                <div class="index__main--article-verMas"><a href="/productDetail"><button>
                            VER MÁS</button></a></div>
            </article>
            <h1 class="index__main--titulo2">Nuevos Lanzamientos</h1>
            <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                <img src="/img/index/productos/index_products_1.jpg" alt="">
                <div class="index__main--article-info">
                    <p>30% OFF</p>
                    <h4>$1500</h4>
                </div>
                <div class="index__main--article-comprar"><a href="/productCart"><button type="button"><i
                                class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                </div>
                <div class="index__main--article-verMas"><a href="/productDetail"><button>
                            VER MÁS</button></a></div>
            </article>
            <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                <img src="/img/index/productos/index_products_2.jpg" alt="">
                <div class="index__main--article-info">
                    <p>30% OFF</p>
                    <h4>$1500</h4>
                </div>
                <div class="index__main--article-comprar"><a href="/productCart"><button type="button"><i
                                class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                </div>
                <div class="index__main--article-verMas"><a href="/productDetail"><button>
                            VER MÁS</button></a></div>
            </article>
            <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                <img src="/img/index/productos/index_products_3.jpg" alt="">
                <div class="index__main--article-info">
                    <p>30% OFF</p>
                    <h4>$1500</h4>
                </div>
                <div class="index__main--article-comprar"><a href="/productCart"><button type="button"><i
                                class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                </div>
                <div class="index__main--article-verMas"><a href="/productDetail"><button>
                            VER MÁS</button></a></div>
            </article>
            <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                <img src="/img/index/productos/index_products_4.jpg" alt="">
                <div class="index__main--article-info">
                    <p>30% OFF</p>
                    <h4>$1500</h4>
                </div>
                <div class="index__main--article-comprar"><a href="/productCart"><button type="button"><i
                                class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                </div>
                <div class="index__main--article-verMas"><a href="/productDetail"><button>
                            VER MÁS</button></a>
                    </div>
            </article>
            <h1 class="index__main--titulo3">Los más vendidos</h1>
            <div class="index__main--article-box1">
                <article class="index__main__article--horizontal" data-aos="flip-down" data-aos-duration="1000">
                    <img src="/img/index/productos/index_products_1.jpg" alt="">
                    <a href="/productDetail">
                        <h4>Warhammer <i class="fa-solid fa-cart-shopping"></i></h4>
                    </a>
                    <h4>$1500</h4>
                    <p>-30%</p>
                </article>
                <article class="index__main__article--horizontal" data-aos="flip-down" data-aos-duration="1000">
                    <img src="/img/index/productos/index_products_2.jpg" alt="">
                    <a href="/productDetail">
                        <h4>Warhammer <i class="fa-solid fa-cart-shopping"></i></h4>
                    </a>
                    <h4>$1500</h4>
                    <p>-30%</p>
                </article>
                <article class="index__main__article--horizontal" data-aos="flip-down" data-aos-duration="1000">
                    <img src="/img/index/productos/index_products_3.jpg" alt="">
                    <a href="/productDetail">
                        <h4>Warhammer <i class="fa-solid fa-cart-shopping"></i></h4>
                    </a>
                    <h4>$1500</h4>
                    <p>-30%</p>
                </article>
                <article class="index__main__article--horizontal" data-aos="flip-down" data-aos-duration="1000">
                    <img src="/img/index/productos/index_products_4.jpg" alt="">
                    <a href="/productDetail">
                        <h4>Warhammer <i class="fa-solid fa-cart-shopping"></i></h4>
                    </a>
                    <h4>$1500</h4>
                    <p>-30%</p>
                </article>
            </div>
            <div class="index__main--article-box2">
                <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                    <img src="/img/index/productos/index_products_1.jpg" alt="">
                    <div class="index__main--article-info">
                        <p>30% OFF</p>
                        <h4>$1500</h4>
                    </div>
                    <div class="index__main--article-comprar"><a href="/productCart"><button type="button"><i
                                    class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                    </div>
                    <div class="index__main--article-verMas"><a href="/productDetail"><button>
                                VER MÁS</button></a></div>
                </article>
                <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                    <img src="/img/index/productos/index_products_2.jpg" alt="">
                    <div class="index__main--article-info">
                        <p>30% OFF</p>
                        <h4>$1500</h4>
                    </div>
                    <div class="index__main--article-comprar"><a href="/productCart"><button type="button"><i
                                    class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                    </div>
                    <div class="index__main--article-verMas"><a href="/productDetail"><button>
                                VER MÁS</button></a></div>
                </article>
                <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                    <img src="/img/index/productos/index_products_3.jpg" alt="">
                    <div class="index__main--article-info">
                        <p>30% OFF</p>
                        <h4>$1500</h4>
                    </div>
                    <div class="index__main--article-comprar"><a href="/productCart"><button type="button"><i
                                    class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                    </div>
                    <div class="index__main--article-verMas"><a href="/productDetail"><button>
                                VER MÁS</button></a></div>
                </article>
                <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                    <img src="/img/index/productos/index_products_4.jpg" alt="">
                    <div class="index__main--article-info">
                        <p>30% OFF</p>
                        <h4>$1500</h4>
                    </div>
                    <div class="index__main--article-comprar"><a href="/productCart"><button type="button"><i
                                    class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                    </div>
                    <div class="index__main--article-verMas"><a href="/productDetail"><button>
                                VER MÁS</button></a></div>
                </article>
                    </div>
                </div>
        </div>
    </main>
    <footer class="index__footer">
        <div class="index__footer__box--iconos">
            <div><a href=""><i class="fa-brands fa-whatsapp"></i></a></div>
            <div><a href=""><i class="fa-brands fa-instagram"></i></a></div>
            <div><a href=""><i class="fa-brands fa-facebook-f"></i></a></div>
            <div><a href=""><i class="fa-brands fa-twitter"></i></a></div>
        </div>
        <nav class="index__footer__nav--menu">
            <ul>
                <li><a href="">Términos y Condiciones</a></li>
                <li><a href="">Politica de Reembolso</a></li>
                <li><a href="">Politica de Privacidad</a></li>
            </ul>
        </nav>
        <h6><a href="">Ayuda y Soporte</a></h6>
    </footer>
    <!-- SWIPER -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- SCRIPTS -->
    <script src="/js/aos.js"></script>
    <script src="/js/carrousel.js"></script>
</body>

</html>