<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body class="login"> 
    <main class="login__main">
        <div class="login__main__box">
            <h1 class="login__main__box__iniciar">Iniciar Sesion con mi Email</h1>
        </div>
        <section class="login__main__box__formulario">
            <div class="login__main__box__formulario__correo">
                <form action="">Ingresar Correo</form>
            </div>
            <div class="login__main__box__formulario__clave">
                <form action="">Ingresar clave</form>
            </div>          
        </section>
        <section class="login__main__box__opciones">
                <div class="login__main__box__opciones__registrarme">
                    <a href="#">Registrarme</a>
                </div>
                <div class="login__main__box__opciones__recuperar">
                    <a href="#">Olvide mi clave</a>
                </div>    
            <div class="login__main__box__boton1">
                <button>Login</button>
            </div>
            <div class="login__main__box__titulo2">
                <h4>Iniciar Sesion con Google</h4>
            </div>
            <div class="login__main__box_boton2">
                <button>Continuar Con GOOGLE</button>
            </div>
        </section>
    </main>
</body>
</html>