<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DetalleDelProducto</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3a56c9fe8b.js" crossorigin="anonymous"></script>
</head>

<body>
    <main class="product__main">
        <article class="product__main--article">
            <img src="/img/productDetail/dark_detail.jpg" alt="">
            <div class="product__main--article-info">
                <p>Descuento</p>
                <h4>$Precio</h4>
            </div>
            <div class="product__main--article-comprar"><a href=""><i class="fa-solid fa-cart-shopping"></i> COMPRAR</a>
            </div>
            <div class="product__main--article-favoritos"><a href=""><i class="fa-regular fa-heart"></i> AÑADIR A LISTA
                    DE DESEOS</a></div>
        </article>
        <div class="product__main--container">
            <div class="product__main--slider">
                <img src="/img/productDetail/dark_detail.jpg" alt="">
                <div class="product__main--slider-imgs">
                    <img src="/img/productDetail/dark_detail.jpg" alt="">
                    <img src="/img/productDetail/dark_detail.jpg" alt="">
                    <img src="/img/productDetail/dark_detail.jpg" alt="">
                </div>
            </div>
            <div class="product__main--infoJuego">
                <div class="product__main--infoJuego-titulo">
                    <h2>ACERCA DE ESTE JUEGO</h2>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, mollitia hic? Accusantium quasi
                    impedit quas, distinctio ex ut cum facilis animi itaque adipisci eaque eum exercitationem, dolores
                    sed eius aut.
                </p>
                <div class="product__main--infoJuego-more"><a href="">LEER MÁS</a></div>
            </div>
            <div class="product__main--requisitos">
                <div class="product__main--requisitos-logo">
                    <i class="fa-brands fa-windows"></i>
                </div>
                <div class="product__main--requisitos-box">
                    <p>Requisitos mínimos:</p>
                    <table class="product__main--requisitos-minimos">
                        <tr>
                            <td>OS:</td>
                            <td>asdasdasd</td>
                        </tr>
                        <tr>
                            <td>Procesador:</td>
                            <td>asdsadasd</td>
                        </tr>
                        <tr>
                            <td>Memoria:</td>
                            <td>adsadasdasd</td>
                        </tr>
                        <tr>
                            <td>Grafica:</td>
                            <td>asdasdadasd</td>
                        </tr>
                        <tr>
                            <td>Almacenamiento: </td>
                            <td>sdasdasda</td>
                        </tr>
                    </table>
                    <p>Requisitos recomendado:</p>
                    <table class="product__main--requisitos-recomendados">
                        <tr>
                            <td>OS:</td>
                            <td>asdasdasd</td>
                        </tr>
                        <tr>
                            <td>Procesador:</td>
                            <td>asdsadasd</td>
                        </tr>
                        <tr>
                            <td>Memoria:</td>
                            <td>adsadasdasd</td>
                        </tr>
                        <tr>
                            <td>Grafica:</td>
                            <td>asdasdadasd</td>
                        </tr>
                        <tr>
                            <td>Almacenamiento: </td>
                            <td>sdasdasdasdsad</td>
                        </tr>
                    </table>
                    <div class="product__main--requisitos-more"><a href="">LEER MÁS</a></div>
                </div>
            </div>
        </div>
    </main>
    <footer class="index__footer">
        <div class="index__footer__box--iconos">
            <div><a href=""><i class="fa-brands fa-whatsapp"></i></a></div>
            <div><a href=""><i class="fa-brands fa-instagram"></i></a></div>
            <div><a href=""><i class="fa-brands fa-facebook-f"></i></a></div>
            <div><a href=""><i class="fa-brands fa-twitter"></i></a></div>
        </div>
        <nav class="index__footer__nav--menu">
            <ul>
                <li><a href="">Términos y Condiciones</a></li>
                <li><a href="">Politica de Reembolso</a></li>
                <li><a href="">Politica de Privacidad</a></li>
            </ul>
        </nav>
        <h6><a href="">Ayuda y Soporte</a></h6>
    </footer>
</body>

</html>