.index--carousel,
.index__main--ofertasDestacadas,
.index__main--nuevosLanzamientos,
.index_main_visita2,
.index__main--proximamente,
.index_main_visita3,
.index__main--rebajas,
.index_main_ofertas {
  display: none;
}
.index__main__section--articleBody {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
.index__main__section--articleFooter {
  display: flex;
  flex-direction: column;
}
.index_main_visita--descuento,
.index__main__visita--precio,
.index__main__section__articleFooter--comprar,
.index__main__section__articleFooter--corazon {
  border: none;
  padding: 5px;
  gap: 2px;
  margin: 2px 0;
}
.index_main_visita--descuento,
.index__main__visita--precio {
  text-transform: capitalize;
  font-size: 1rem;
}
.index_main_visita--descuento {
  color: white;
  background-color: var(--colorBotones);
}
.index__main__visita--precio {
  color: var(--colorVerde);
  display: flex;
  gap: 5px;
}
.index__main__section__articleFooter--comprar,
.index__main__section__articleFooter--corazon {
  text-transform: uppercase;
  font-size: 1rem;
}
.index__main__section__articleFooter--comprar {
  color: black;
  background-color: var(--colorVerde);
  display: flex;
  justify-content: center;
  gap: 10px;
}
.index__main__section__articleFooter--corazon {
  color: white;
  background-color: var(--gris3);
  gap: 10px;
  display: flex;
  justify-content: center;
}
.index__main--losMasVendidos {
  color: white;
  padding-left: 10px;
  background-image: url(/img/index/losMasDestacados.svg);
}
.index__main__section--article {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.index__main__article--img {
  width: 25%;
}

.index__main__article--nombreProducto,
.index__main__article--comprar,
.index__main__article--precio,
.index__main__article--descuento {
  font-size: 0.7rem;
  text-transform: capitalize;
  border: none;
  padding: 5px;
  margin: 2px 0;
}
.index__main__article--nombreProducto {
  color: black;
}
.index__main__article--comprar {
  background-color: var(--colorVerde);
  color: black;
}
.index__main__article--precio {
  color: var(--colorVerde);
  display: flex;
  gap: 5px;
}
.index__main__article--descuento {
  background-color: var(--colorBotones);
  color: white;
}
.index__main--losMasVendidos {
  padding: 10px 10px;
  text-transform: uppercase;
}

/* media q tablets */

@media (min-width: 481px) {
  /* main */
}
/* desktop */
@media (min-width: 769px) {
  /* main */
}
