body.index img {
  background-size: cover;
  box-shadow: 2px 2px 2px black;
}
body.index img:hover {
  transform: scale(1.04);
}
.index__main--chatBot {
  font-size: 2rem;
  color: white;
  position: fixed;
  right: 0px;
  top: 145px;
}

.index__main__visita2,
.index__main__visita3,
.index--carousel,
.index__main--caruselExtend,
.index__main--ofertasDestacadas,
.index__main--nuevosLanzamientos,
.index__main--losMasDeseados,
.index__main--proximamente,
.index__main--rebajas,
.index_main_ofertas {
  display: none;
}
.index__main__section--articleBody {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
.index__main__section--articleFooter {
  display: flex;
  flex-direction: column;
}
.index_main_visita--descuento,
.index__main__visita--precio,
.index__main__section__articleFooter--comprar,
.index__main__section__articleFooter--corazon {
  border: none;
  padding: 5px;
  gap: 2px;
  margin: 2px 0;
}
.index_main_visita--descuento,
.index__main__visita--precio {
  text-transform: capitalize;
  font-size: 1rem;
}
.index_main_visita--descuento {
  color: white;
  background-color: var(--colorBotones);
}
.index__main__visita--precio {
  color: var(--colorVerde);
  display: flex;
  gap: 5px;
}
.index__main__section__articleFooter--comprar,
.index__main__section__articleFooter--corazon {
  text-transform: uppercase;
  font-size: 1rem;
}
.index__main__section__articleFooter--comprar {
  color: black;
  background-color: var(--colorVerde);
  display: flex;
  justify-content: center;
  gap: 10px;
}
.index__main__section__articleFooter--corazon {
  color: white;
  background-color: var(--gris3);
  gap: 10px;
  display: flex;
  justify-content: center;
}
.index__main--losMasVendidos,
.index__main--losMasDeseados {
  background-image: url(/img/index/losMasDestacados.svg);
  color: white;
  padding: 10px 10px;
  text-transform: uppercase;
  margin: 10px 0;
  background-size: cover;
  object-fit: cover;
  box-shadow: 2px 2px 2px black;
}
.index__main__section--article {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.index__main__article--img {
  width: 25%;
  border-left: 2px solid var(--colorVerde);
  margin: 5px 0;
  box-shadow: 2px 2px 2px black;
}
.index__main__article--nombreProducto,
.index__main__article--comprar,
.index__main__article--precio,
.index__main__article--descuento {
  font-size: 0.7rem;
  text-transform: capitalize;
  border: none;
  padding: 5px;
  margin: 5px 0;
  background-color: black;
}
.index__main__article--nombreProducto {
  color: white;
}
.index__main__article--comprar {
  background-color: var(--colorVerde);
  color: black;
}
.index__main__article--precio {
  color: var(--colorVerde);
  display: flex;
  gap: 5px;
  align-items: center;
}
.index__main__article--descuento {
  background-color: var(--colorBotones);
  color: white;
}

/* media q tablets */

@media (min-width: 481px) {
  /* main */
  .index--carousel,
  .index__main__visita2,
  .index__main--caruselExtend,
  .index__main--ofertasDestacadas,
  .index__main--losMasDeseados {
    display: block;
  }
  .index__main--chatBot {
    font-size: 3rem;
    color: white;
    position: fixed;
    right: 0px;
    top: auto;
  }
  .index--carousel {
    box-shadow: 2px 2px 2px black;
  }
  .index__main--caruselExtend {
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
    background-color: black;
    margin: 5px 0;
    box-shadow: 2px 2px 2px black;
  }
  .index__main--caruselExtend2 {
    display: flex;
    gap: 20px;
  }

  .index__main__visita1,
  .index__main__visita2 {
    display: flex;
    gap: 0px;
    justify-content: space-between;
  }
  .index__main__articleHeader {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 10px;
  }
  .index__main__caruselExtend--titulo {
    display: flex;
    color: white;
    font-size: 1.2rem;
    padding-left: 10px;
    padding-top: 10px;
    text-transform: capitalize;
  }
  .index__main__caruselExtend--precio {
    display: flex;
    align-items: center;
    color: var(--colorVerde);
    gap: 5px;
    font-size: 1.2rem;
    text-transform: capitalize;
  }
  .index__main__caruselExtend--comprar {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: var(--colorVerde);
    margin: 10px 30px;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  .index__main--ofertasDestacadas {
    background-image: url(/img/index/ofertasDestacadas.svg);
    color: white;
    padding-left: 10px;
    padding: 10px 10px;
    text-transform: uppercase;
    margin: 10px 0;
    background-size: cover;
    object-fit: cover;
    box-shadow: 2px 2px 2px black;
  }
  .index__main__section--article {
    display: flex;
    flex-direction: row;
  }
  .index__main__article {
    width: 47%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .index__main__article--img {
    width: 100%;
    border-left: 2px solid var(--colorVerde);
    margin: 5px 0;
  }
  .index__main__losMasVendidos {
    display: flex;
    gap: 40px;
    flex-direction: row;
    box-shadow: 2px 2px 2px black;
  }
  .index__main__ofertas2 {
    display: none;
  }
  .index__main__losMasDeseados {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    box-shadow: 2px 2px 2px black;
  }
}
/* desktop */
@media (min-width: 769px) {
  /* main */
  .index__main__visita3,
  .index__main--nuevosLanzamientos,
  .index__main--proximamente,
  .index__main--rebajas {
    display: block;
  }
  .index__main--chatBot {
    font-size: 4rem;
  }
  .index__main__visita3 {
    display: flex;
    gap: 0px;
    justify-content: space-between;
  }
  .index__main--nuevosLanzamientos {
    background-image: url(/img/index/nuevosLanzamientosDestacados.svg);
    color: white;
    padding: 10px 10px;
    text-transform: uppercase;
    margin: 10px 0;
    background-size: cover;
    object-fit: cover;
    box-shadow: 2px 2px 2px black;
  }
  .index__main--proximamente {
    background-image: url(/img/index/proximamente.svg);
    color: white;
    padding: 10px 10px;
    text-transform: uppercase;
    margin: 10px 0;
    background-size: cover;
    object-fit: cover;
    box-shadow: 2px 2px 2px black;
  }
  .index__main--rebajas {
    background-image: url(/img/index/losMasDestacados.svg);
    color: white;
    padding: 10px 10px;
    text-transform: uppercase;
    margin: 10px 0;
    background-size: cover;
    object-fit: cover;
    box-shadow: 2px 2px 2px black;
  }
  .index__main--rebajas,
  .index__main--losMasVendidos,
  .index__main--losMasDeseados {
    padding-left: 20px;
  }
}
