.login{
    background-color:grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.login__main{
background-color: black;
color: white;
width: 50%;

}