.product__main{
    margin: 10px;
}
.product__main--article{
    background-color: var(--gris1);
    padding: 5px;
}
.product__main--article img{
    width: 100%;
    margin: 5px 0;
}
.product__main--article-info{
    display: flex;
    align-items: center;
    gap: 15px;
}
.product__main--article-info p{
    background-color: var(--colorBotones);
    color: #ffffff;
    padding: 10px;
}
.product__main--article-info h4{
    color: var(--colorVerde);
}
.product__main--article-comprar{
    text-align: center;
    background-color: var(--colorVerde);
    padding: 10px;
    margin: 5px 0;
}
.product__main--article-comprar a{
    color: #000000;
    font-weight: 700;
}
.product__main--article-favoritos{
    text-align: center;
    background-color: var(--gris3);
    padding: 10px;
    margin: 0 0 20px;
}
.product__main--article-favoritos a{
    color: #ffffff;
    font-weight: 700;
}
.product__main--slider{
    margin: 20px 0;
}

.product__main--slider-screen img{
    border-top: 1px solid var(--colorVerde);
    width: 100%;
    border-bottom: 1px solid var(--colorVerde);
}
.product__main--slider-imgs{
    margin: 10px 0 0;
    display: flex;
    justify-content: space-between;
}
.product__main--slider-imgs img{
    border-top: 1px solid var(--colorVerde);
    width: 30%;
    border-bottom: 1px solid var(--colorVerde);
}
.slider1, .slider2, .slider3{
    display: none;
}
.product__main--infoJuego{
    color: var(--gris4);
    margin: 10px 0;
}
.product__main--infoJuego-titulo{
    border-bottom: 1px solid var(--gris3);
    font-size: .7rem;
    margin: 10px 0;
}
.product__main--infoJuego-titulo h2{
    font-weight: 400;
}
.product__main--infoJuego-more{
    margin: 20px 0;
}
.product__main--infoJuego-more a{
    text-decoration: underline;
    color: var(--colorVerde);
    font-size: .8rem;

}
.product__main--requisitos{
    color: var(--gris4);
    text-align: left;
    font-size: .8rem;
}
.product__main--requisitos-logo{
    background-color: var(--gris3);
    text-align: center;
    padding: 10px;
}
.product__main--requisitos-logo i{
    color: var(--gris4);
}
.product__main--requisitos table{
    padding: 5px;
}
.product__main--requisitos table tr th, .product__main--requisitos table tr td {
    padding: 10px 0;
}
.product__main--requisitos table tr td{
    width: 50%;
}
.product__main--requisitos--tableRecomendados{
    display: none;
}
.product__main--requisitos a{
    text-decoration: underline;
    color: var(--colorVerde);
    font-size: .8rem;
}

@media (min-width: 481px) {
    .product__main{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 20px;

    }
    .product__main--container{
     width: 65%;
    }
    .product__main--article{
        width: 30%;
        padding: 5px;
        height: 50%;
    }
    .product__main--article img{
        margin: 0 0 5px;
    }
    .product__main--slider{
        margin: 0;
    }
    .product__main--infoJuego{
        margin: 30px 0;
    }
    .product__main--infoJuego-titulo{
        font-size: .7rem;
    }
    .product__main--infoJuego p{
        font-size: .7rem;
    }
    .product__main--requisitos table{
        padding: 30px;
    }
    .product__main--infoJuego-more a{
        font-size: .8rem;
    }
    .product__main--requisitos a{
        padding: 0 30px;
    }
    .product__main--requisitos{
        padding: 0 0 30px;
        margin: 0 0 50px;
        border-left: .5px solid var(--gris3);
        border-bottom: .5px solid var(--gris3);
        border-right: .5px solid var(--gris3);
    }
    .product__main--requisitos-logo i{
        font-size: .7rem;
    }
    .product__main--requisitos-box{
        padding: 20px;
        font-size: .7rem;
    }
    
    .product__main--article-info p{
        font-size: .6rem;
        padding: 5px;
    }
    .product__main--article-info h4{
        font-size: .7rem;
    }
    .product__main--article-comprar{
        font-size: .7rem;
    }
    .product__main--article-favoritos{
        font-size: .7rem;
        padding: 10px;
        margin-bottom: 50px;
    }
}
@media (min-width: 769px){
    .product__main{
        margin: 40px;
    }
    .product__main--container{
        width: 65%;
       }
    .product__main--article{
        width: 29%;
        height: 40%;
       }
    .product__main--article-info p{
        font-size: 1rem;
    }
    .product__main--article-info h4{
        font-size: .6rem;
    }
    .product__main--article-comprar{
        font-size: .6rem;
    }
    .product__main--article-favoritos{
        font-size: .6rem;
    }
    .product__main--slider-screen{
        padding: 0 50px;
    }
    .product__main--slider-imgs img{
        width: 15%;
    }
    .slider1,.slider2,.slider3{
        display: block;
    }
    .product__main--infoJuego p{
        font-size: 1rem;
    }
    .product__main--requisitos-more{
        display: none;
    }
    .product__main--requisitos a{
        display: none;
    }
    .product__main--requisitos table tr th{
        padding-right: 10px;
    }
    .product__main--requisitos--tableRecomendados{
        display: block;
    }
    .product__main--requisitos-flex{
        display: flex;
        justify-content: space-between;
    }
}