
.home__header{
    background-color: #000000;
    color: var(--colorVerde);
    border-bottom: 2px solid var(--colorVerde);
    font-size: 20px;
    width: 100%;
}

.home__header--box{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    max-width: 320px;
    margin: 0 auto;
    justify-content: space-around;
    text-transform: capitalize;
}

.home__header__box--logo{
    width: 40%;
    text-align: center; 
}

.home__header__box--logo img{
    width: 128px
}

.home__header__box--burguer{
    display: flex;
    justify-content: center;
    width: 25%;
}

.home__header__box--burguer i{
    
    padding: 3px;
    padding-bottom: 2px;
    border-radius: 5px;
    border: solid 1px var(--colorVerde);
}

.home__header__box--login nav ul{
    display: flex;
    gap: 5px;
   
}

#carri{
    position: relative;
}
#numberCart{
    position: absolute;
    bottom: 22px;
    right: 4px;
    margin-left: 6px;
    font-size: 10px;
    border-radius: 50%;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 1px
}

.home__header__box--login nav ul li a p{
    display: none;
}
#darkMode{
    font-size: 8px;
    letter-spacing: -0.5px;
    display: none;
}

.home__header__box--login nav ul li a p,.home__header__box--login nav ul li a i{
    color: var(--colorVerde);
    padding: 3px;
}

.home__header__box__categorias--nav{
    height: 0;
    overflow: hidden;
    transition: all 1s ease;
    width: 100%;
}
.showMenu{
    height: 160px;
}
.home__header__box__categorias--nav ul li a{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    padding: 5px;
    border: 1px solid var(--colorVerde);
    border-radius: 5px;
    margin: 1px;
}
.home__header__box__categorias--nav ul li a:hover{
    color: var(--colorVerde);
}
.home__header__switch--mode{
    background-color: #000000;
    border: none;
}
.home__header__box--tema i{
    rotate: 90deg;
    
}
.home_header_box--barra{
    padding: 10px;
    display: none;
    font-size: 16px;  
}
.home_header_box--button{
    border: none;
    
}
.home_header_box--form{
    position: relative;
}
.home_header_box--form--input{
    border-radius: 5px;
    border:solid 2px var(--colorVerde);
    margin: 5px;
    padding: 5px;
    width: 100%;
}
.home_header_box--btn i{
    position: absolute;
    top: 6px;
    right: -4px;
    font-size: 18px;
    color: #000000;
    background-color: var(--colorVerde);
    padding: 6px;
    border-radius: 5px;
}
.home__header__box--tema p{
    display: none;
}
@media (min-width:481px){

    .home__header--box{
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
    .home__header__box--logo{
        order: -1;
        width: 25%;
    }
    
    .home_header_box--barra{
        padding: 10px;
        display: flex;
        font-size: 16px;
        order: 1;
        width: 30%;
    }
    .home__header__box--burguer{
        order: 3;
        width: 100%;
        margin-bottom: 10px;
    }
    .home__header__box__categorias--nav{
        order: 3;
        max-width: 481px;
    }
    
    .home__header__box--login{
        order: 2;
        width: 15%;
    }
    .home__header__box--login nav ul li a p{
        font-size: 14px;
        top: 20px;
       ;
    }
    .home__header__box--login nav ul li a i{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .home__header__box--tema{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: 4;
        margin-right: 10px;
        width: 5%;
    }

    .home__header__box--tema p{
        font-size: 12px;
        text-align: center;
    }
}
@media (min-width:769px){
    .home__header{
        font-size: 24px;
        width: 100%;
    }
    .home__header--box{
        width: 100%;
        max-width: 949px;
    }
    .home__header__box--logo{
        width: 15%;
    }
    
    .home__header__box__categorias--nav{
        height: auto;
        margin-bottom: 5px;
        width: 100%;
    }
    .home__header__box__categorias--nav ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .home__header__box__categorias--nav ul li a{
        display: flex;
        font-size: 16px;
        letter-spacing: 0px;
        color: var(--colorVerde);
        padding: 5px;
        border-radius: 5px;
        margin: 2px;
        box-shadow: 0px 0px 10px var(--colorVerde);
    }
    .home__header__box--burguer{
        display: none;   
    }
    .home_header_box--btn i{ 
        right: 6px;
    }
   
    .home__header__box--tema p{
        display: block;
    }
    .home__header__box--tema i{
        rotate: 0deg; 
    }
    .home_header_box--barra{
        display: flex;
        width: 50%;
        padding: 10px;
        font-size: 16px;
    }
    .home_header_box--form{
        display: flex;
        width: 100%;
    }
   
    .home__header__box--login nav ul{
        text-align: center;  
    }
    .home__header__box--login nav ul li{
        position: relative;
        top: 25px;
    }
    
    .home__header__box--login nav ul li a p{
        display: block;
        font-size: 0.7rem;
    }
    #numberCart{
        position: absolute;
        bottom: 78px;
        right: 6px;
        
    }
    #darkMode{
        display: block;
        font-size: 0.7rem;
    }

}
@media (min-width:950px){
    .home__header--box{
        width: 100%;
        max-width: 1180px;
    }
    .home__header__box__categorias--nav{
        max-width:1180px;
        width:100%;
    }
   
    .home__header__box__categorias--nav ul li a{
        font-size: 18px;
        letter-spacing: 0;
        margin: 1px 4px;     
    }
    .home__header__box--login nav ul li{
        position: relative;
        top: 25px;
    }
    
    .home__header__box--login nav ul li a p{
        display: block;
        font-size: 0.9rem;
    }
    #numberCart{
        position: absolute;
        bottom: 88px;
        right: 10px;
        
    }
    .home__header__box--tema{
         width: 12.5%;
    } 
    .home__header__box--tema p{
        font-size: 0.9rem;   
    }
    .home_header_box--barra{
        width: 50%;
    }
    #darkMode{ 
        font-size: 0.9rem;
    }
}