.productAdd__box__form--btn{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.mainImagePreview{
    height: 217px;
    margin: 0 10px;
   
    border-radius: 5px;
    overflow: hidden;
}
.mainImagePreview img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.imagesPreview{
    height: 217px;
    margin: 0 10px;
   
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1px;
}

.imagesPreview img{
    width: 30%;
}
.mainImagePreview-color{
    border: solid 1px var(--colorVerde);
}
.mainImagePreview-isInvalid{
    border: solid 1px var(--colorBotones);
}