<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>404</title>
</head>
<body class="error">
   <main class="error__main">
    <section class="error__main__box">
    <img src="https://media.discordapp.net/attachments/1114643571967021119/1131557468120563732/MONOLOCO.gif?width=900&height=675" alt="MONO">
    <button class="error__main__box__boton">REGRESAR</button>  
</section>
</main>
</body>
</html>