<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>


<body>
    <%- include('partials/header') %>
    <main class="index">
        <!-- CARROUSEL -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/images/carrousel/carrousel_1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/images/carrousel/carrousel_2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/images/carrousel/carrousel_3.jpg" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="index__main--chat">
            <a href=""><i class="fa-solid fa-comments"></i></a>
        </div>
        <div class="index__main--products">
            <h1 class="index__main--titulo1">Destacados</h1>
            <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                <img src="/images/index/productos/index_products_1.jpg" alt="">
                <div class="index__main--article-info">
                    <p>30% OFF</p>
                    <h4>$1500</h4>
                </div>
                <div class="index__main--article-comprar"><a href="/products/productCart"><button type="button"><i
                                class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                </div>
                <div class="index__main--article-verMas"><a href="/products/productDetail"><button>
                            VER MÁS</button></a></div>
            </article>
            <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                <img src="/images/index/productos/index_products_2.jpg" alt="">
                <div class="index__main--article-info">
                    <p>30% OFF</p>
                    <h4>$1500</h4>
                </div>
                <div class="index__main--article-comprar"><a href="/products/productCart"><button type="button"><i
                                class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                </div>
                <div class="index__main--article-verMas"><a href="/products/productDetail"><button>
                            VER MÁS</button></a></div>
            </article>
            <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                <img src="/images/index/productos/index_products_3.jpg" alt="">
                <div class="index__main--article-info">
                    <p>30% OFF</p>
                    <h4>$1500</h4>
                </div>
                <div class="index__main--article-comprar"><a href="/products/productCart"><button type="button"><i
                                class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                </div>
                <div class="index__main--article-verMas"><a href="/products/productDetail"><button>
                            VER MÁS</button></a></div>
            </article>
            <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                <img src="/images/index/productos/index_products_4.jpg" alt="">
                <div class="index__main--article-info">
                    <p>30% OFF</p>
                    <h4>$1500</h4>
                </div>
                <div class="index__main--article-comprar"><a href="/products/productCart"><button type="button"><i
                                class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                </div>
                <div class="index__main--article-verMas"><a href="/products/productDetail"><button>
                            VER MÁS</button></a></div>
            </article>
            <h1 class="index__main--titulo2">Nuevos Lanzamientos</h1>
            <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                <img src="/images/index/productos/index_products_1.jpg" alt="">
                <div class="index__main--article-info">
                    <p>30% OFF</p>
                    <h4>$1500</h4>
                </div>
                <div class="index__main--article-comprar"><a href="/products/productCart"><button type="button"><i
                                class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                </div>
                <div class="index__main--article-verMas"><a href="/products/productDetail"><button>
                            VER MÁS</button></a></div>
            </article>
            <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                <img src="/images/index/productos/index_products_2.jpg" alt="">
                <div class="index__main--article-info">
                    <p>30% OFF</p>
                    <h4>$1500</h4>
                </div>
                <div class="index__main--article-comprar"><a href="/products/productCart"><button type="button"><i
                                class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                </div>
                <div class="index__main--article-verMas"><a href="/products/productDetail"><button>
                            VER MÁS</button></a></div>
            </article>
            <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                <img src="/images/index/productos/index_products_3.jpg" alt="">
                <div class="index__main--article-info">
                    <p>30% OFF</p>
                    <h4>$1500</h4>
                </div>
                <div class="index__main--article-comprar"><a href="/products/productCart"><button type="button"><i
                                class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                </div>
                <div class="index__main--article-verMas"><a href="/products/productDetail"><button>
                            VER MÁS</button></a></div>
            </article>
            <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                <img src="/images/index/productos/index_products_4.jpg" alt="">
                <div class="index__main--article-info">
                    <p>30% OFF</p>
                    <h4>$1500</h4>
                </div>
                <div class="index__main--article-comprar"><a href="/products/productCart"><button type="button"><i
                                class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                </div>
                <div class="index__main--article-verMas"><a href="/products/productDetail"><button>
                            VER MÁS</button></a>
                    </div>
            </article>
            <h1 class="index__main--titulo3">Los más vendidos</h1>
            <div class="index__main--article-box1">
                <article class="index__main__article--horizontal" data-aos="flip-down" data-aos-duration="1000">
                    <img src="/images/index/productos/index_products_1.jpg" alt="">
                    <a href="/products/productDetail">
                        <h4>Warhammer <i class="fa-solid fa-cart-shopping"></i></h4>
                    </a>
                    <h4>$1500</h4>
                    <p>-30%</p>
                </article>
                <article class="index__main__article--horizontal" data-aos="flip-down" data-aos-duration="1000">
                    <img src="/images/index/productos/index_products_2.jpg" alt="">
                    <a href="/products/productDetail">
                        <h4>Warhammer <i class="fa-solid fa-cart-shopping"></i></h4>
                    </a>
                    <h4>$1500</h4>
                    <p>-30%</p>
                </article>
                <article class="index__main__article--horizontal" data-aos="flip-down" data-aos-duration="1000">
                    <img src="/images/index/productos/index_products_3.jpg" alt="">
                    <a href="/products/productDetail">
                        <h4>Warhammer <i class="fa-solid fa-cart-shopping"></i></h4>
                    </a>
                    <h4>$1500</h4>
                    <p>-30%</p>
                </article>
                <article class="index__main__article--horizontal" data-aos="flip-down" data-aos-duration="1000">
                    <img src="/images/index/productos/index_products_4.jpg" alt="">
                    <a href="/products/productDetail">
                        <h4>Warhammer <i class="fa-solid fa-cart-shopping"></i></h4>
                    </a>
                    <h4>$1500</h4>
                    <p>-30%</p>
                </article>
            </div>
            <div class="index__main--article-box2">
                <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                    <img src="/images/index/productos/index_products_1.jpg" alt="">
                    <div class="index__main--article-info">
                        <p>30% OFF</p>
                        <h4>$1500</h4>
                    </div>
                    <div class="index__main--article-comprar"><a href="/products/productCart"><button type="button"><i
                                    class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                    </div>
                    <div class="index__main--article-verMas"><a href="/products/productDetail"><button>
                                VER MÁS</button></a></div>
                </article>
                <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                    <img src="/images/index/productos/index_products_2.jpg" alt="">
                    <div class="index__main--article-info">
                        <p>30% OFF</p>
                        <h4>$1500</h4>
                    </div>
                    <div class="index__main--article-comprar"><a href="/products/productCart"><button type="button"><i
                                    class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                    </div>
                    <div class="index__main--article-verMas"><a href="/products/productDetail"><button>
                                VER MÁS</button></a></div>
                </article>
                <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                    <img src="/images/index/productos/index_products_3.jpg" alt="">
                    <div class="index__main--article-info">
                        <p>30% OFF</p>
                        <h4>$1500</h4>
                    </div>
                    <div class="index__main--article-comprar"><a href="/products/productCart"><button type="button"><i
                                    class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                    </div>
                    <div class="index__main--article-verMas"><a href="/products/productDetail"><button>
                                VER MÁS</button></a></div>
                </article>
                <article class="index__main--article" data-aos="fade-up" data-aos-duration="1000">
                    <img src="/images/index/productos/index_products_4.jpg" alt="">
                    <div class="index__main--article-info">
                        <p>30% OFF</p>
                        <h4>$1500</h4>
                    </div>
                    <div class="index__main--article-comprar"><a href="/products/productCart"><button type="button"><i
                                    class="fa-solid fa-cart-shopping"></i> COMPRAR</button></a>
                    </div>
                    <div class="index__main--article-verMas"><a href="/products/productDetail"><button>
                                VER MÁS</button></a></div>
                </article>
                    </div>
                </div>
        </div>
    </main>
    <%- include('partials/footer') %>
    <!-- SWIPER -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- SCRIPTS -->
    <script src="/javascripts/aos.js"></script>
    <script src="/javascripts/carrousel.js"></script>
</body>

</html>