<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: "login"}) %>
<body>
<%- include('partials/header') %>    
    <main class="main__login">
        <div class="main__login--formulario">
            <h2 class="main__login__formulario--titulo">Iniciar Sesión</h2>

            <form action="">
                <div class="main__login__formulario__form--inputs">
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" name="email" id="email" placeholder="Ingresar Correo...">
                </div>
                <div class="main__login__formulario__form--inputs">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="Contraseña" id="Contraseña" placeholder="Ingresar clave...">
                </div>

                <div class="main__login__formulario__form--box">
                    <a href="/users/register">Registrarme</a>
                    <a href="">Olvide Mi clave</a>
                </div>
                <div>
                    <button class="main__login__formulario__form--button" type="submit">LOGIN</button>
                </div>
            </form>
            <div class="main__login__box--iniciarGoogle">
                <div class="main__login--lineaVerde">
                    <h5>Iniciar Sesion con google</h5>
                </div>
            </div>
            <div class="main__login--buttonGoogle">
                <img src="/images/login/logo_g.png" alt="">
                <a href="">Continuar con google</a>
            </div>

        </div>

    </main>

    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>

</body>

</html>

<form action=""></form>