<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: "carrito"}) %>

<body class="productCart">
<%- include('partials/header') %>    
    <div class="productCart__titulo">
        <h2>Tu cesta</h2>
        <div class="productCart__titulo__pagoseguro">
            <i class="fa-solid fa-lock"></i>
            <h2>Pago Seguro</h2>
        </div>
    </div>
    <main class="productCart__main">
        <!-- div card -->
        <div class="productCart__main__boxCard">
            <!-- juego1 -->
            <article class="productCart__main__boxCesta">
                <div class="productCart__main__boxCesta__juego">
                    <img src="/images/elden.jpg" alt="elden">
                </div>
                <div class="productCart__main__boxCesta__nombreJuego">
                    <h4>Elden Ring</h4>
                </div>
                <div class="productCart__main__boxCesta__cantidad">
                    <button class="productCart__main__boxCesta__cantidad__buton__minus">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                    <p class="productCart__main__boxCesta__cantidad__unidad">1</p>
                    <button class="productCart__main__boxCesta__cantidad__buton__plus">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <div class="productCart__main__boxCesta__precio">
                    <h4>$ 3.560</h4>
                </div>
                <button class="productCart__main__boxCesta__eliminar">
                    <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                </button>
            </article>
            <!-- juego2 -->
            <article class="productCart__main__boxCesta">
                <div class="productCart__main__boxCesta__juego">
                    <img src="/images/Barbie_Pegasus.webp" alt="barbie">
                </div>
                <div class="productCart__main__boxCesta__nombreJuego">
                    <h4>Barbie Pegasus</h4>
                </div>
                <div class="productCart__main__boxCesta__cantidad">
                    <button class="productCart__main__boxCesta__cantidad__buton__minus">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                    <p class="productCart__main__boxCesta__cantidad__unidad">1</p>
                    <button class="productCart__main__boxCesta__cantidad__buton__plus">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <div class="productCart__main__boxCesta__precio">
                    <h4>$ 6.560</h4>
                </div>
                <button class="productCart__main__boxCesta__eliminar">
                    <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                </button>
            </article>
            <!-- fin de juego2 -->
            <div id="fifth" class="productCart__main__boxCesta__boton">
                <a href="/"><button>SEGUIR COMPRANDO</button></a>
            </div>
        </div>
        <!-- fin de div card -->

        <div class="productCart__main__section2">
            <div class="productCart__titulo2">
                <h2>Resumen del pedido</h2>
                <div class="productCart__PagoSeguro">
                    <i class="fa-solid fa-lock"></i>
                    <h2>Pago Seguro</h2>
                </div>
            </div>
            <section class="productCart__main__boxResumen">
                <div class="productCart__main__boxResumen__boxPrecio">
                    <div class="productCart__main__boxResumen__boxPrecio__precioTotal">
                        <h4>Precio Total</h4>
                    </div>
                    <div class="productCart__main__boxResumen__boxPrecio__totalNumero">
                        <h4>$10,120</h4>
                    </div>
                </div>
                <div class="productCart__main__boxResumen__separador"></div>
                <div class="productCart__main__boxResumen__boxImporte">
                    <div class="productCart__main__boxResumen__boxImporte__importeTotal">
                        <h3>Importe Total</h3>
                    </div>
                    <div class="productCart__main__boxResumen__boxImporte__importeNumero">
                        <h3>$10,120</h3>
                    </div>
                </div>
                <div class="productCart__main__boxResumen__botonPagar">
                    <button class="productCart__main__boxResumen__botonPagar__pagar">PAGAR</button>
                </div>
                <div class="productCart__main__boxResumen__politicas">
                    <p>Al hacer clic en 'pagar', aceptas nuestra política de reembolso.</p>
                </div>
            </section>
        </div>
        <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
</body>

</html>