<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %>

<body>
<%- include('partials/header') %>    
    <main class="register">
        <div class="register__box">
            <h2>registrate </h2>
            <form action="" class="register__form">
                <div>
                    <label class="form-label" for="name">Nombre</label>
                    <input class="form-control" id="name" type="text" name="name" placeholder="Ej: Eric">
                </div>
                <div>
                    <label for="surname" class="form-label">Apellido</label>
                    <input class="form-control" id="surname" type="text" name="surname" placeholder="Ej: Mena">
                </div>
                <div id="register__form--email">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" id="email" type="email" name="email"
                        placeholder="Eric_BATMAN@formar.com">
                </div>
                <div>
                    <label class="form-label" for="password">Contraseña</label>
                    <input class="form-control" id="password" type="password" name="password">
                </div>
                <div>
                    <label class="form-label" for="password2">Confirmar Contraseña</label>
                    <input class="form-control" id="password2" type="password" name="password2">
                </div>
                <div class="register__form--btn">
                    <button type="reset" class="register__form--btn--crear">crear cuenta</button>
                    <p>¿Ya tenés cuenta? <a href="/users/login"> inicía sesión</a></p>
                </div>
            </form>
        </div>
    </main>
<%- include('partials/footer') %>
<%- include('partials/scripts') %>

</body>

</html>