<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/3a56c9fe8b.js" crossorigin="anonymous"></script>
</head>
<body>
    <footer class="index__footer">
        <div class="index__footer__box--iconos">
            <div><a href=""><i class="fa-brands fa-whatsapp"></i></a></div>
            <div><a href=""><i class="fa-brands fa-instagram"></i></a></div>
            <div><a href=""><i class="fa-brands fa-facebook-f"></i></a></div>
            <div><a href=""><i class="fa-brands fa-twitter"></i></a></div>
        </div>
        <nav class="index__footer__nav--menu">
            <ul>
                <li><a href="">Términos y Condiciones</a></li>
                <li><a href="">Politica de Reembolso</a></li>
                <li><a href="">Politica de Privacidad</a></li>
            </ul>
        </nav>
        <h6><a href="">Ayuda y Soporte</a></h6>
    </footer>
</body>
</html>