<header class="home__header">
    <div class="home__header--box">
        <div class="home__header__box--burguer">
            <a onclick="document.querySelector('.home__header__box__categorias--nav').classList.toggle('showMenu')"><i
                    class="fas fa-bars"></i></a>
        </div>

        <div class="home__header__box--logo">
            <a href="/"><img src="/images/header/logo.png" alt=""></a>
        </div>

        <div class="home__header__box--login">
            <nav class="home__header__box__login--nav">
                <ul class="home__header__box__login__nav--ul">
                    <% if (locals.userLogin) { %>
                        <li><a href="/users/profile"><i class="fa-solid fa-user-check"></i>
                                <p class="home__header__box__login__nav__ul__li__a__p" id="userlogin__p">
                                    <%= userLogin.name %>
                                </p>
                            </a></li>
                        <li id="carri"><i id="numberCart" class="fa-solid "></i>
                            <a data-bs-toggle="modal" data-bs-target="#cart" id="btn-cart" href="#">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <p>mi <br> carrito</p>
                                <span id="show-count"
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                    hidden>
                                </span>
                            </a>
                        </li>

                        <% }else{ %>
                            <li><a href="/users/login"><i class="fa-solid fa-user"></i>
                                    <p id="userlogin__p">ingresar</p>
                                </a></li>
                            <% } %>

                                <li><label class="switch">
                                        <input type="checkbox" id="modo">
                                        <span class="slider"></span>
                                    </label>
                                </li>

                </ul>
            </nav>
        </div>

        <div class="home_header_box--barra">
            <form id="form_search" class="home_header_box--form" action="/search" method="get">
                <input id="input_search" class="home_header_box--form--input" name="keywords" type="text"
                    placeholder="Buscar productos, marcas">
                <div class="home_header_box--btn">
                    <button class="home_header_box--button" type="submit"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>
        </div>
        <nav class="home__header__box__categorias--nav">
            <ul>
                <li><a href="/#destacados">destacados</a></li>
                <li><a href="/#news">lanzamientos</a></li>
                <li><a href="/#+vendidos">mas vendidos</a></li>

                <li><a href="/contact">contacto</a></li>

                <% if (locals.userLogin) { %>
                    <% if (userLogin.role===1 ) { %>
                        <li><a href="/users/admin">admin</a></li>
                        <% } %>
                            <li><a onclick="sessionStorage.removeItem('cart-count')" href="/users/logout">salir</a></li>
                            <% } %>
            </ul>
        </nav>
    </div>
    <script src="/javascripts/validationsFrontEnd/searchValidator.js"></script>
    <script src="/javascripts/validationsFrontEnd/cart.js"></script>
</header>

<!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" aria-labelledby="cartLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-3" id="cartLabel">Carrito de compra</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="cart-body">
            
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continuar comprando</button>
          <button type="button" id="btn-clearCart" onclick="clearCart()" class="btn btn-danger">Vaciar carrito</button>
          <button type="button" class="btn btn-success">Finalizar compra</button>
        </div>
      </div>
    </div>
  </div>