<div class="tpl-snow2">
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
    <div>&#x2744</div>
</div>